.dashboard-container {
    /* Replace 'path/to/your/background-image.jpg' with the actual path to your image file */
    background-image: url('../../images/test.jpg');
    /* Set background size to cover the entire container */
    background-size: cover;
    /* Repeat the image if it doesn't cover the entire container */
    background-repeat: no-repeat;
    /* Center the image on the container */
    background-position: center;
  }